body {
  background: #f3f4f5;
}

.btn {
  border-radius: 10px;
}

.navbar {
  background: rgba(214, 242, 244, 0.8);
  border-bottom: 1px solid #dfe3e7 ;
}

.hero-content {
  background: #f3f4f5;
}

@media (min-width: 768px) {
  .hero-content {
    background: transparent;
    height: 399px;
  }
}

